<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.top.lottery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.LotteryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
       >
        <activity android:name=".activities.LoginActivity"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" android:theme="@style/AppThemeMain"/>
        <activity android:name=".activities.OpenLotteryRankActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.PercentInfoActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activities.SettingActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.ModifyPasswordActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.LotteryFunnyActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.PlayWayIntroduceActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.BuyLotteryRecordActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.TrendChartActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.ConfirmCodesActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.OpenWebViewActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".activities.PlayDealActivity" android:theme="@style/AppTheme"/>
    </application>

</manifest>