<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.top.lottery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".base.LotteryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/uz_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/uz_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 文件下载 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.top.lottery.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- apk 下载服务 -->
        <service android:name=".services.UpdateService" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppThemeLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.OpenLotteryRankActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PercentInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ModifyPasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LotteryFunnyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BuyLotteryRecordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TrendChartActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ConfirmCodesActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.OpenWebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LotteryRecordDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PasswordManageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.IntergrayRollOutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MessageListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MessageDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AccountBillsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AccountBillsTypeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BelowClassCountActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TicketDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AwardGotDetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TicketOutListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ManageActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activities.RechargeWithdrawActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddNewMemberActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SetMemberPermissionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MemberSettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MemberBaseSettingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MemberCreditSettingActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.MemberStaticActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CreateNewMemberSuccessActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProfitActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.IntergrateHandleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.FinanceRechargeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.FanliIntergaryRollOutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SharebounsRollOutActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ShareBounsRollInActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CreditRollInActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.ProfitParamsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MemberStaticListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.StaticScoreLogActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.ProfitCountActivity"></activity>
    </application>

</manifest>